---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Yayan Deka"
	description="Professional background, experience, and approach to technology and design"
	pubDate={new Date('August 31 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hai, saya Yayan Deka, seorang full-stack developer yang berbasis di Indonesia. Saya biasa mengerjakan proyek-proyek website menggunakan Laravel, MySQL, Bootstrap. Saya juga seorang Vector Designer lepas yang aktif di berbagai agensi microstock. Sebenarnya malu untuk menyebut diri saya seorang penulis, tapi saya suka menulis, terutama fiksi. Mulai dari cerpen, draft novel, hingga puisi dan tulisan-tulisan random lainnya.
	</p>

	<h2>Professional Background</h2>
	<p>
		Saya sudah bergelut di bidang koding-kodingan ini sejak tahun 2022 hingga sekarang. Beberapa proyek yang pernah dikerjakan menuntut saya memahami berbagai aspek yang bahkan di luar keahlian teknis saya, seperti proses bisnis perencanaan keuangan, akademik dan kemahasiswaan universitas, hingga berbagai sistem informasi manajemen. Sedangkan di bidang desain, saya sudah aktif sejak tahun 2020 akhir sejak pandemi Covid-19. Bermula dari iseng-iseng belajar desain grafis, mengunggah hasilnya ke agensi microstock, hingga akhirnya menjadi salah satu kontributor tetap di beberapa agensi microstock.
	</p>

	<h2>Technical Expertise</h2>
	<p>
		Saya memiliki keahlian dalam pengembangan web full-stack, dengan pengalaman mendalam dalam framework Laravel untuk backend dan Bootstrap untuk frontend. Saya juga berpengalaman dalam manajemen basis data menggunakan MySQL, serta memiliki pemahaman yang kuat tentang prinsip-prinsip desain responsif dan pengalaman pengguna (UX). Meski itu adalah gear utama, tapi saya juga familiar dengan berbagai teknologi web lainnya seperti Typescript, React, Tailwind CSS, dan lainnya.
	</p>

	<h2>Creative Practice</h2>
	<p>
		Dalam ranah desain, saya fokus pada desain vektor, menciptakan ilustrasi yang bersih dan menarik yang dapat digunakan dalam berbagai konteks, mulai dari materi pemasaran hingga aset digital. Saya terbiasa bekerja dengan alat-alat desain seperti Adobe Illustrator dan Inkscape.
	</p>

	<p>
		Saya terbuka untuk kolaborasi, membahas proyek, atau sekadar mengobrol tentang apa saja, silahkan hubungi saya! Atau secara lebih lengkap, silahkan hubungi saya melalui salah satu media sosial yang sudah saya sediakan di bagian footer website ini.
	</p>
</Layout>
